/* Hamburger navigation */
.navigation a:not(:first-child) {
  display: none;
}
.navigation a.icon {
  float: right;
  display: block;
  border: none;
}
.navigation.responsive {
  position: relative;
}
.navigation.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
}
.navigation.responsive a {
  float: none;
  display: block;
  text-align: center;
  border: none;
}
.navigation.responsive a:hover {
  border: none;
}
.navigation a:first-child {
  font-size: 25px;
}
.navigation a.icon:hover {
  border-bottom: none;
}
/* Changing positions of divs and visual edits*/
.container-left {
  flex-basis: 100%;
}
.info {
  flex-basis: 100%;
}
.card {
  width: 350px;
  height: 250px;
}
#card-1 {
  background: url(../img/P1.png) no-repeat center;
  background-size: cover;
  color: #fff;
}
#card-2 {
  background: url(../img/P2.png) no-repeat center;
  background-size: cover;
  color: #fff;
}
#card-3 {
  background: url(../img/P3.png) no-repeat center;
  background-size: cover;
  color: #fff;
}
#card-4 {
  background: url(../img/P4.png) no-repeat center;
  background-size: cover;
}
#card-5 {
  background: url(../img/P5.png) no-repeat center;
  background-size: cover;
  color: #fff;
}
.description {
  padding: 0 15px;
}
.hr-contact {
  width: 100%;
}
